.wrapper {
	min-height: calc(100vh-100px);
	width: 100%;
	min-width: 500px;
	margin: 0 auto;
	display: grid;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: lightblue;
}

.gridcontainer {
	min-height: calc(100vh-100px);
	/* width: 100%; */
	background: lightblue;
	display: grid;
	flex-direction: column;
	place-items: center;
	height: 100%;
	width: 60%;
	padding-top: 100px;
	/* max-width: 1200px; */
	grid-template-rows: 3fr 1fr 2fr 2fr 2fr;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		/* 'header header header header' */
		'social frame frame profile'
		'social frame frame profile'
		'social main main  profile'
		'social card1 card2 blogsList'
		'social card4 card5 blogsList';
	/* 'footer footer footer footer'; */
	grid-gap: 0.3rem;
	color: #a9a9a9;
}

.frame {
	/* padding: 70px; */
	grid-area: frame;
	max-width: 1000px;
	/* height: 400px; */
	/* grid-template-columns: 2/4; */
	/* grid-template-rows: 2/3; */
	/* display: block; */
	/* object-fit: cover; */
	/* width: 100%; */
	/* height: 100%; */
}

.frame img {
	width: 100%;
}

.main {
	grid-area: main;
	/* grid-column: 2/5; */
	/* grid-row: 2/3; */
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	padding-top: 20px;
	margin-left: 20px;
	/* line-height: 1.15; */
	font-size: 6rem;
}
.description {
	padding-top: 20px;
	margin-left: 20px;
	/* line-height: 1.5; */
	font-size: 1.5rem;
}

.title,
.description {
	text-align: left;
}

.social {
	grid-area: social;
	/* grid-template-columns: 1/2; */
	/* grid-template-rows: 3/4; */
}

/* .titleposition {
	grid-area: main;
} */

/* .title a {
	color: #0070f3;
	text-decoration: none;
} */

/* .title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
} */

/* .grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 2rem;
} */

.card1 {
	margin: 1rem;
	/* flex-basis: 45%; */
	padding: 1.5rem;
	text-align: center;
	grid-area: card1;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}
.card2 {
	margin: 1rem;
	/* flex-basis: 45%; */
	padding: 1.5rem;
	text-align: center;
	grid-area: card2;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}
.card3 {
	margin: 1rem;
	/* flex-basis: 45%; */
	padding: 1.5rem;
	text-align: center;
	grid-area: card3;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}
.card4 {
	margin: 1rem;
	/* flex-basis: 45%; */
	padding: 1.5rem;
	text-align: center;
	grid-area: card4;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

/* .card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
} */

/* .card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
} */

/* .card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
} */

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
