.wrapper {
	/* max-height: calc(100vh-100px); */
	max-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
}

.centercontent {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-content: center;
	margin: 5rem;
	width: 60%;
	padding-bottom: 70px;
	/* border: 1px solid darkgrey; */
	/* border-radius: 10px; */
}

.socialmain {
	margin-top: 1rem;
	display: flex;
	background-color: darkgray;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	/* width: 60%; */
}

.title {
	/* padding-top: 20px; */
	margin-left: 20px;
	/* line-height: 1.15; */
	font-size: 4rem;
}

.description {
	/* padding-top: 20px; */
	margin-left: 20px;
	/* line-height: 1.5; */
	font-size: 1.5rem;
}

.title,
.description {
	text-align: left;
}

.frame {
	border: 1px solid darkgrey;
	border-radius: 10px;
}

.card {
	margin: 1rem 0 0 0;
	/* padding: 1.5rem; */
	text-align: center;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.gridcontainer {
	/* min-height: calc(100vh-100px); */
	/* width: 100%; */
	background: lightblue;
	/* display: grid; */
	/* flex-direction: column; */
	/* align-content: center; */
	/* height: 100%; */
	width: 60%;
	padding-top: 100px;
	/* max-width: 1200px; */
	grid-template-rows: auto 1fr auto 2fr 2fr;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		'header header header header'
		'social frame frame frame frame profile'
		/* 'social frame frame frame frame profile' */
		'social main main main main profile'
		'social . card1 card2 . blogsList'
		'. . card3 card4 . blogsList'
		'footer footer footer footer';
	grid-gap: 0.3rem;
	color: lightgreen;
}
/* .frame img {
	width: 100%;
} */

/* .titleposition {
	grid-area: main;
} */

/* .title a {
	color: #0070f3;
	text-decoration: none;
} */

/* .title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
} */

/* .card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
} */

/* .card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
} */

/* .card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
} */

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
